<app-header></app-header>
<div class="page">
  <div class="hero">
    <h3 class="hero__eyebrow">Hi</h3>
    <h1 class="hero__title">I'm Matt Katz</h1>
      <div class="rotator-wrapper">
          <span class="rotator">
            <span class="hero__subtitle">Developer</span>
            <span class="hero__subtitle">Designer</span>
            <span class="hero__subtitle">Problem Solver</span>
          </span>
      </div>
  </div>
  <div class="skills">
    <h4>Technologies used include but are not limited to the following</h4>
    <div class="c-column">
      <div class="column">
        <ul>
          <li>Figma</li>
          <li>Zeplin</li>
          <li>Adobe XD</li>
          <li>Illustrator</li>
          <li>GreenSock</li>
        </ul>
      </div>
      <div class="column">
        <ul>
          <li>Angular</li>
          <li>React</li>
          <li>Vue</li>
          <li>Javascript</li>
          <li>Typescript</li>
        </ul>
      </div>
      <div class="column">
        <ul>
          <li>Rails</li>
          <li>Ruby</li>
          <li>Python</li>
          <li>SQL</li>
          <li>PostgreSQL</li>
        </ul>
      </div>
    </div>
  </div>
</div>