/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

// @font-face {
//     font-family: lato;
//     src: url(assets/fonts/ComicPapyrus.ttf) format("truetype");
// }

* {
    font-family: 'Oswald';
    color: white;
    box-sizing: border-box;
    margin: 0;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;

    background-color: #161718;
}
